body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/maybe.jpg);
    width: 100%;
    margin: 0 auto;
    color: white;
    font-weight: 900;
}
hr.min{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
}
hr.maj{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #5b463d, #faffff, #5b463d);
}
.menu{
    text-align: center;
    list-style-type: none;
    font-family: "Snell Roundhand", cursive;
    font-size: 130%;
}
.dropdown{
    display: inline-block;
    margin: 5px 20px;
}
a{
    text-decoration: none;
    color: #E1CAAB;
}
a:visited{
    color: #E1CAAB;
}
a:hover{
    color: #E1CAAB;
    text-decoration: underline;
}
h1,h2{
    font-family: "Snell Roundhand", cursive;
    text-align: center;
    color: white;
    font-size: 300%;
    letter-spacing: 4px;
    margin-bottom:0;
}
h2{
    font-size: 200%;
    margin-top: 0;
}
div.text{
    margin: 0 8%;
}
footer{
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 20px;
    display: inline;
    }
    #cc{
       
    }
#github{
    
}
#githubimg{
    width: 50px;
}