@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/maybe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0 auto;
    color: white;
    font-weight: 900;
}
hr.min{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
}
hr.maj{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #5b463d, #faffff, #5b463d);
}
.menu{
    text-align: center;
    list-style-type: none;
    font-size: 130%;
}
.dropdown{
    display: inline-block;
    margin: 5px 15px;
    font-size: 80%;
}
button.dropbtn{
    cursor: pointer;
    font-size: 100%;
    font-weight: 900;
    color: #CE4B29;
    background-color: transparent;
    outline: none;
    border: none;
}
button.dropbtn:hover{
    color: #E1CAAB;
    text-decoration: underline;
}
.dropContent{
    background: rgba(51, 13, 7, .5);
    display: none;
    text-align: center;
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
}
.dropdown:hover .dropContent{
    display: block;
}
a{
    text-decoration: none;
    color: #CE4B29;
}
a:visited{
    color: #CE4B29;
}
a:hover{
    color: #E1CAAB;
    text-decoration: underline;
}
h1,
h2,
h3,
h4{
    font-family: "Great Vibes", cursive;
    text-align: center;
    color: white;
    letter-spacing: 4px;
    margin-bottom: 0;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 37px;
    margin-top: 0;
}
h3{
    font-size: 35px;
    padding-top: 40px;
}
h4{
    font-size: 30px;
}
code{
    color: #58A378;
    font-size: 110%;
}
div.text{
    margin: 5% 10%;
}
#footer{
    width: 40%;
    margin: auto;
    padding: 1rem;
    text-align: center;
    height: 50px;
    margin-top: -50px;
}
q:before{
content: open-quote;
}
q:after{
    content: close-quote;
}
#cc{
float: left;
}
#github{
float: right;
}
#githubimg{
    width: 50px;
}