img.manuscript {
    max-width: 100%;
    height: auto;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
div.manuscript {
    flex: 0 1 auto;
    width: 30%;
}
img.manuscript {
border: 1px solid white;
padding-top: 3%;
padding-bottom: 3%;
}

img.manuscript:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
div.transcription,
div.translation {
    text-align: center;
    flex: 0 1 auto;
}
span.del{
    text-decoration: line-through;
}
