img {
    max-width: 80%;
    height: auto;
}
table.minutes{
    border: 1px solid white;
    border-collapse: collapse;
}
table.minutes > tr,th,td{
    border: 1px solid white;
}
h1.minute{
    font-size: 100%;
}