div.cancellatiContainer {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    width: 100%;
}
div.cancellatiSvg {
    width: 60%;
    flex: 1 75%;
}
table,
th,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px 30px;
    text-align: center;
}
div.table {
    flex: 1 25%;
    display: none; /* all tables are invisible initially */
}
table {
    width: 40%
}
td.year {
    width: 15%
}
td.in {
    width: 42.5%;
}
td.out {
    width: 42.5%;
}