div.svgContainer {
    display: flex;
    flex-flow: column;
}
div.svg {
    flex: 1 75%;
}
g > text{
    color: white;
}
table,
th,
tr,
td {
    border: 1px solid white;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}
div.table {
    flex: 1 25%;
    display: none; /* all tables are invisible initially */
}
table {
    width: 40%
}